.app {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 5vw;
    pointer-events: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items:  center;
}
header h1 {
    margin-left: 2vw;
}
